[core]
host=irc.hackint.eu
port=7777
timeout=120
use_ssl=True
verify_ssl=False
logging_level=INFO

enable=knotenbot,reload
nick=knotenbot
owner=andi-
pid_dir=.
homedir=.
extra=modules/

channels=#ffda-log
prefix=\.


[knotenbot]
max_events=10
channels=#ffda-log
